.App {
  text-align: center;

}
body {
  margin: 0;
  background-color: #282c34;
  font-family: "Arial";
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.RosterName {
  margin-top: .5em;
  margin-bottom: .5em;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}

.AddRaider {
  font-size: .9em;
  padding-top: .5em;
  padding-bottom: .5em;
}
input {
  font-size: 1em;
}

.RemoveButton {
  background-color: #282c34;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right: solid 2px white;
}

.RemoveIcon {
  background-color: #282c34;
}

.Name {
  padding-right: 20px;
}

.Class {
  padding-left: 10px;
  padding-right: 20px;
}

.ItemLevel {
  padding-left: 10px;
  padding-right: 20px;
}

.HeartLevel {
  padding-left: 10px;
  padding-right: 20px;
}

.AverageParse {
  padding-left: 10px;
  padding-right: 20px;
}

table {
  border-collapse: collapse;
}

td, th {
border-right: solid 2px white;
text-align: left;
}

.Warrior {
  color: #C79C6E;
}
.Warlock {
  color: #8787ED;
}
.Hunter {
  color: #ABD473;
}
.DemonHunter {
  color: #A330C9;
}
.DeathKnight {
  color: #C41F3B;
}
.Priest {
  color: #FFFFFF;
}
.Rogue {
  color: #FFF569;
}
.Monk {
  color: #00FF96;
}
.Mage {
  color: #40C7EB;
}
.Druid {
  color: #FF7D0A;
}
.Shaman {
  color: #0070DE;
}
.Paladin {
  color: #F58CBA;
}

.Dropdown-root {
  padding-top: .75em;
  padding-bottom: 1.25em;
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title{
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
